@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply w-full min-h-screen text-[22px] flex flex-col justify-center items-center font-space bg-project-cyan-100 font-bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
